.row-layout > .row{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
.row-layout textarea{
    width: 100%;
}
.name-dropdown{
    width: 82%;
}
.add-btn{
    font-weight: 800;
    margin: 0;
    padding: 0.3rem 0;
    white-space:nowrap;
}
.add-btn:hover {
    color:rgb(255, 132, 0) ;
    cursor: pointer;
}

.button-layout{
    display: flex;
    justify-content: end;
}
.button-style{
    color:#4c3d81;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

/* for url */
.url-input{
    display: flex;
    align-items:center;
    margin-bottom: 0.5rem;
}
.style-input{
    display: inline;
    width: 95%;
    margin-right: 0.5rem;
}
.deletePost:hover,
.deleteImage:hover, 
.deleteVideo:hover{
    color: red;
    cursor: pointer;
    scale: 1.2;
}
.addPost:hover,
.addImage:hover,
.addVideo:hover{
    color: rgb(255, 132, 0);
    cursor: pointer;
    scale: 1.2;
}
/* for grade checkbox in course page */
.grade-style{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.grade-style div{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.grade-style label{
    margin-right: 0.5rem;
}
.grade-style input{
    accent-color:#4c3d81; 
}
input[type=checkbox] {
    transform: scale(1.2);
}