body{
    color:#4c3d81;
    font-family: "STHeiti";
}
.layout{
    margin-top: 50px;
}
#title{
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    white-space:nowrap;
}
#titleImage{
    padding-right: 5px;
    margin-bottom: 10px;
}
.hello{
    display: flex;
    justify-content:space-between;
    margin: 0;
}
.hello p{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}
.hello button{
    background-color:#4c3d81;
    color:white;
    border: none;
    border-radius:0.3rem;
    font-size: 0.9rem;
}
.hello button:hover{
    background-color:lightgray ;
    color: rgb(255, 132, 0) ;
}

